<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
    <head>
        <title>iMentor</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js"></script>
        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
        <script src="https://apis.google.com/js/client.js"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script src="https://apis.google.com/js/client.js?onload=onClientReady"></script>

       
        @Styles.Render("~/bundles/content")
      
        @Styles.Render("~/bundles/content/ngMaterial")
    </head>
    <body ng-controller="indexCtrl" ng-cloak>
        <div>
            <div id="main-header" style="text-align:center;">
                <nav class="navbar navbar-default navbar-fixed-top" style="background:#f5f5f5">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#/">iMentor</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="" ng-click="goToHome()"><i class="glyphicon glyphicon-home"></i> Home </a></li>
                                <li><a href="" ng-click="goToCalendar()"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-wrench"></i> Manage <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click="goToManageUsers()"><i class="glyphicon glyphicon-user"></i> Users </a></li>
                                        <li><a href="" ng-click="goToManageListings()"><i class="glyphicon glyphicon-th-list"></i> Listings</a></li>
                                    </ul>
                                </li>
                            </ul>

                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right" ng-show="user != null">
                                        <li><a href="" ng-click="goToEditUser()">Welcome: {{user.UserName}}</a></li>

                                        <!--Uncomment this to prevent Students/Mentors from clicking their username-->
                                        @*<li><a href="" ng-click="goToEditUser()" ng-show="user.RoleId >= 3">Welcome: {{user.UserName}}</a></li>
                                        <li><a ng-show="user.RoleId < 3">Welcome: {{user.UserName}}</a></li>*@

                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </div>
                    </div>
                </nav>
            </div>


            <div id="main-content">
                <div ng-view class="ngview-fade">
                </div>
            </div>


            <footer class="container-fluid pull-right">
                <p>iMentor 2016</p>
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/appServices")
        @Scripts.Render("~/bundles/appControllers")
        @Scripts.Render("~/bundles/appDirectives")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/fullcalendar")
    </body>
</html>
