<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
    <head>
        <title>iMentor</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />

        @Styles.Render("~/bundles/content")
        @Styles.Render("~/bundles/content/iMentor")
        @Styles.Render("~/bundles/content/ngMaterial")
        @Styles.Render("~/bundles/content/fullcalendar")
    </head>
    <body ng-controller="indexCtrl" ng-cloak>
        <div id="main-header">
            <div id="main-header" style="text-align:center;">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#/">iMentor</a>
                        </div>

                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="" ng-click="goToHome()"><i class="glyphicon glyphicon-home"></i> Home </a></li>
                            <li><a href="" ng-click="goToListings()"><i class="glyphicon glyphicon-list-alt"></i> Listings</a></li>
                            <li><a href="" ng-click="goToCalendar()"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                        </ul>

                        @Html.Partial("_LoginPartial")
                    </div>
                </nav>
            </div>


            <div id="main-content">
                <div ng-view class="ngview-fade">
                </div>
            </div>


            <footer class="container-fluid">
                <p>Footer Text</p>
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/fullcalendar")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/appServices")
        @Scripts.Render("~/bundles/appControllers")
        @Scripts.Render("~/bundles/appDirectives")
    </body>
</html>
