<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">

<head>
    <title>iMentor</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />

    <!-- load fontawesome via CDN-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    @Styles.Render("~/bundles/content")
</head>
<body ng-controller="indexCtrl" ng-cloak>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">iMentor</a>
                </div>

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="#listings"><i class="fa fa-list"></i>Listings</a></li>
                    <li><a href="#roles"><i class="fa fa-users"></i>Roles</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div id="main">
        <div ng-view class="ngview-fade"></div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/appServices")
    @Scripts.Render("~/bundles/appControllers")
</body>
</html>
