@model iMentor.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security



<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <h4>Log in using your Google account.</h4>
            <p> 
                @foreach (AuthenticationDescription p in loginProviders) {
                     <button 
                        type="submit" 
                        class="btn-social btn-@p.AuthenticationType.ToLower()" 
                        id="@p.AuthenticationType" 
                        name="provider" 
                        value="@p.AuthenticationType" 
                        style="height:33px;"
                        title="Log in using your @p.Caption account">
                         <i class="fa fa-@p.AuthenticationType.ToLower()"></i>@p.AuthenticationType
                     </button>
                }
            </p>
        </div>
    }
}
