@using iMentor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-12" style="text-align:center">
        <img src="https://scontent-atl3-1.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12039593_10207916122680757_4406267022292013043_n.jpg?oh=20ad5f4e1413aecfaffebcc2e1feb3b6&oe=56C8D4CF" alt="iMentor">
    </div>
    <div class="col-lg-12" style="text-align:center">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<html>
<head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>
<body>
    <div id="my-signin2"></div>
    <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'https://www.googleapis.com/auth/plus.login',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/appServices")
@Scripts.Render("~/bundles/appControllers")
}